@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: theme("fontFamily.sans");
  background-color: #fafafa;
  color: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
    color: #fafafa;
  }
}
